In [22]:
# import necessary libraries 

import pandas as pd 
import sklearn as sk
import math

In [39]:
first= 'the car is driven on the road'
second= 'the truck is driven on the highway'

In [40]:
# split so each word have their own string 
first = first.split(" ")
second = second.split(" ")

In [41]:
# joininh them to remove common duplicate word 

total = set(first).union(set(second))

print(total)

{'driven', 'highway', 'truck', 'road', 'car', 'is', 'on', 'the'}

In [42]:
# lets now add a way to count thte words using a dictionary key-value paring for both sentences 
wordDictA = dict.fromkeys(total, 0)
wordDictB = dict.fromkeys(total, 0)

In [43]:
for word in first: 
    wordDictA[word]+=1
for word in second: 
    wordDictB[word]+=1

In [44]:
pd.DataFrame([wordDictA, wordDictB])

   driven  highway  truck  road  car  is  on  the
0       1        0      0     1    1   1   1    2
1       1        1      1     0    0   1   1    2

In [45]:
# now let's write TF functions 

def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [46]:
# runninh out sentences through the tf functions
tfFirst = computeTF(wordDictA, first)
tfSecond = computeTF(wordDictB, second)

In [47]:
# converting to dataframe for visualization 
tf_df = pd.DataFrame([tfFirst, tfSecond])

In [48]:
tf_df

     driven   highway     truck  ...        is        on       the
0  0.142857  0.000000  0.000000  ...  0.142857  0.142857  0.285714
1  0.142857  0.142857  0.142857  ...  0.142857  0.142857  0.285714

[2 rows x 8 columns]

In [49]:
# creating the log portion of the excel table we saw earlier 

def computeIDF(docList):
    idfDict = {}
    N = len(docList)

    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList: 
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1

    for word, val in idfDict.items():
        idfDict[word] = math.log10(N/float(val))

    return idfDict

In [50]:
# inputing our sentences in the log file 

idfs = computeIDF([wordDictA, wordDictB])
idfs

{'car': 0.3010299956639812,
 'driven': 0.0,
 'highway': 0.3010299956639812,
 'is': 0.0,
 'on': 0.0,
 'road': 0.3010299956639812,
 'the': 0.0,
 'truck': 0.3010299956639812}

In [51]:
# The Actual calculation of TF*IDF from the table above : 

def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]

    return tfidf

In [52]:
# running our two sentences through the IDF 
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)

In [53]:
# putting in a dataframe 
idf = pd.DataFrame([idfFirst, idfSecond])
idf

   driven   highway     truck      road       car   is   on  the
0     0.0  0.000000  0.000000  0.043004  0.043004  0.0  0.0  0.0
1     0.0  0.043004  0.043004  0.000000  0.000000  0.0  0.0  0.0

In [58]:
#first step is to import the library
from sklearn.feature_extraction.text import TfidfVectorizer
#for the sentence, make sure all words are lowercase or you will run into error. for simplicity, I just made the same sentence all lowercase
first= 'the car is driven on the road'
second= 'the truck is driven on the highway'
#calling the TfidfVectorizer
vectorize= TfidfVectorizer()
#fitting the model and passing our sentences right away:
response= vectorize.fit_transform([first, second])
print(response)

  (0, 5)	0.42471718586982765
  (0, 4)	0.30218977576862155
  (0, 1)	0.30218977576862155
  (0, 3)	0.30218977576862155
  (0, 0)	0.42471718586982765
  (0, 6)	0.6043795515372431
  (1, 2)	0.42471718586982765
  (1, 7)	0.42471718586982765
  (1, 4)	0.30218977576862155
  (1, 1)	0.30218977576862155
  (1, 3)	0.30218977576862155
  (1, 6)	0.6043795515372431